### round() functions 
* it is inbuilt function in python 
* used to round off number upto the specified number of decimal points 
* syntax: `round(number, ndigits)`
* number is must to specify it is the number to be rounnded
* [Refer Here](https://drive.google.com/file/d/1337QXpVJ9oJ6yBGK32rdn6ecTpT9dEvV/view)
* ndigits are optional it is the number up to which the given number is rounded, by default ndigits are considered as zero

In [ ]:
# round() functions 
print(round(7))
print(round(7.61))
print(round(7.5))
print(type(round(7.61)))
print(round(2.6666, 2)) 
print(round(2.6657, 0))
print(type(round(2.6657, 0)))

7
8
8
<class 'int'>
2.67
3.0
<class 'float'>
2.6666666666666665 2

In [ ]:
# example-2
print(8/3)
print(round(2.6666))
print(round(8/3, 2))
print(round(-8/3))
# below cases print the nearest even integer 
print(round(6.5))
print(round(7.5))

2.6666666666666665
3
2.67
-3
6
8

### some examples 
* round(674, -1) is `10^(- no.of digits)` valus is 10
* now it is change on closest multipule of 10, it become on `670`

In [11]:
print(round(674, 2)) 
print(round(674 , 0))
print(round(674, -1))
print(round(674, -2))
print(round(674, -3))

674
674
670
700
1000

In [16]:
# exercise
print(round(675, -1))
print(round(665, -1))
print(round(674.1012, 1))
print(round(674.1012, -1))
print(round(1212, -2))

680
660
674.1
670.0
1200

### f-string in python

In [23]:
name = "dhilli"
age = 26
height = 1.7 

print("My name is: ", name, "I am ", age, "years old")
print(f"My name is: {name} i am {age} years old. My hieght is {height} meters")
print(f"{name}'s father is {age*2} years old")

My name is:  dhilli I am  26 years old
My name is: dhilli i am 26 years old. My hieght is 1.7 meters
dhilli's father is 52 years old

### Exerise-4.0
* WAP to find out how many days, weeks, months we have life if we live until 90 yeras old 
* input: you enter age 
* o/p : you have a days b weeks and c months life 
        * 1 year = 365 days 
        * 1 year = 52 weeks
        * 1 year  = 12